.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 37px 20px;
  text-align: center;
  transform: translateY(-344px);
  transition: 0.5s ease-in-out;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-radius: 0 0 16px 16px;
}

.navigation.open {
  transform: translateY(0);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: black;
  text-decoration: none;
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .logo {
    display: none;
  }

  .navigation {
    position: static;
    transform: translateY(0);
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-left: auto;
  }

  .list {
    display: flex;
  }

  .link {
    font-size: 19px;
    line-height: 22px;
  }
}

@media (min-width: 1024px) {
  .link {
    margin: 10px 0 10px 15px;
    font-size: 25px;
    line-height: 29px;
  }
}
