$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$stile_dark_rock: #a2a2a2;
$grass_bug: #70a83b;
$ice_water: #76aadb;
$fire_fighting_dragon: #f76545;
$normal_gosth: #76aadb;
$posion_psychic_fairy_ghost: #a974bc;
$ground: #9b897b;
$electric: #f7c545;

$yellowGradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
$greenGradient: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
$pinkGradient: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
$redGradient: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
$blueGradient: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
$goldGradient: linear-gradient(
  269.46deg,
  #b57e10 -7.62%,
  #b57e10 13.9%,
  #f9df7b 28.5%,
  #fff3a6 45.42%,
  #f9df7b 62.17%,
  #b57e10 81.71%
);
